<form class="ui stacked raised segment form" action="/stations/{{stations.id}}/addreadings" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Weather Code</label>
      <label>
        <input placeholder="Code" type="number" name="code">
      </label>
    </div>
    <div class="field">
      <label>Temperature</label>
      <label>
        <input placeholder="Temp" type="number" name="temp">
      </label>
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <label>
        <input placeholder="Wind Speed" type="number" name="windSpeed">
      </label>
    </div>
    <div class="field">
      <label>Pressure</label>
      <label>
        <input placeholder="Pressure" type="number" name="pressure">
      </label>
    </div>
    <div class="field">
      <label>Wind Direction</label>
      <label>
        <input placeholder="Wind Direction" type="number" name="windDirection">
      </label>
    </div>
  </div>
  <button class="ui blue submit button">Add Reading</button>
</form>