<form class="ui stacked raised segment form" action="/stations/{{stations.id}}/addreadings" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Code</label>
      <label>
        <input placeholder="Code" type="text" name="code">
      </label>
    </div>
    <div class="field">
      <label>Temp</label>
      <label>
        <input placeholder="Temp" type="text" name="temp">
      </label>
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <label>
        <input placeholder="Wind Speed" type="text" name="windSpeed">
      </label>
    </div>
    <div class="field">
      <label>Pressure</label>
      <label>
        <input placeholder="Pressure" type="text" name="pressure">
      </label>
    </div>
  </div>
  <button class="ui blue submit button">Add Reading</button>
</form>