<form class="ui stacked segment form" action="/stations/{{stations.id}}/addreadings" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="Code" type="text" name="code">
    </div>
    <div class="field">
      <label>Temp</label>
      <input placeholder="Temp" type="text" name="temp">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind Speed" type="text" name="windSpeed">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="Pressure" type="text" name="pressure">
    </div>
  </div>
  <button class="ui blue submit button">Add Reading</button>
</form>