<form class="ui stacked raised segment form" action="/dashboard/addstations" method="POST">
  <div class="field">
    <label>Station Location</label>
    <input placeholder="Station Location" type="text" name="stationLocation">
  </div>
  <button class="ui blue submit button">Add Station</button>
</form>