<section class="ui stacked raised segment">
<table class="ui celled table">
  <thead>
  {{> reading-header }}
  </thead>
  <tbody>
    <tr>
      {{> reading-row }}
    </tr>
  </tbody>
</table>
  <button class="ui blue submit button"> Add Report</button>
</section>