{{#each stations}}
<table class="ui table">
  <thead>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Pressure</th>
  </thead>
  <tbody>
    {{#each stationsList.readings}}
    <tr>
      <td>{{this.code}}</td>
      <td>{{this.temp}}</td>
      <td>{{this.windSpeed}}</td>
      <td>{{this.pressure}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/each}}