{{> menu id="about"}}

<section class="ui center aligned middle aligned raised segment">
  <h4 class="ui inverted blue segment">
    Weather Top 1000
  </h4>
  <p>
    Weather Top 1000 is a new interactive webpage for all your local weather requirements
  </p>
  <p>
    <i class="sun icon"></i>
    <i class="cloud icon"></i>
    <i class="sun icon"></i>
  </p>
  <p>
    Created by WeatherTop Labs Inc., Acme Business Studios, The Long Walk Home, Cork
  </p>
</section>