{{> menu id="dashboard"}}

{{#each stations}}
<section class="ui segment">
  <h2 class="ui header">
    {{stationLocation}}
  </h2>
  <p>
      Lastest readings:
    </p>
<a href="/station/{{id}}">View</a>
</section>
{{/each}}