{{> menu id="stationslist"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui left aligned header">
   {{stations.stationLocation}}
  </h2>
  <h4>Lowest Pressure: {{lowestPressure.stationLocation}}</h4>
  {{> listreadings}}
  {{> addreadings}}
</section>
